{:auto-save? true, :theme :dark, :selection "/home/salman/smchat/target/smchat.jar", :expansions #{"/home/salman/smchat/src" "/home/salman/smchat/src/smchat" "/home/salman/smchat/target" "/home/salman/smchat/target/stale"}}